.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: #f0f2f5;
}

.icon {
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 16px;

  &:hover {
    color: #1890ff;
  }
}

:global {
  .ant-pro-form-login-container {
    padding-top: 100px;
  }
} 